# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Logs
*.log

# Databases
*.db

# Virtual environments
venv/
myenv/
.env/

# Editor/IDE files
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db

# PyInstaller build artifacts
dist/
build/
*.spec

